set scrolloff=5
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Move line
nnoremap <C-j> :m+1<CR>V=
vnoremap <C-j> :m'>+1<CR>gv=gv
" inoremap <C-j> <Esc>:m+1<CR>V=gi
nnoremap <C-k> :m-2<CR>V=
vnoremap <C-k> :m'<-2<CR>gv=gv
" inoremap <C-k> <Esc>:m-2<CR>V=gi

" Move cursor
nnoremap <S-j> 5j
vnoremap <S-j> 5j
onoremap <S-j> 5j
nnoremap <S-k> 5k
vnoremap <S-k> 5k
onoremap <S-k> 5k
nnoremap <S-h> ^
vnoremap <S-h> ^
onoremap <S-h> ^
nnoremap <S-l> $
vnoremap <S-l> $
onoremap <S-l> $

" Switch window
nnoremap <A-h> <C-w>h
inoremap <A-h> <Esc><C-w>h
nnoremap <A-j> <C-w>j
inoremap <A-j> <Esc><C-w>j
nnoremap <A-k> <C-w>k
inoremap <A-k> <Esc><C-w>k
nnoremap <A-l> <C-w>l
inoremap <A-l> <Esc><C-w>l

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
